

# Other files and folders

.github/workflows/
.artwork
.config
.domains
.gitignore
README.md
base.sh
installer.sh
master.sh 


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
